body{
	margin:0 0;
	background-color:black;
	display:block;
	text-align:center;
}
#container{
	height:100%;
	width:100%;
	background-color:#c1c1c1;
	align:center;
	text-align:center;
	dispaly:block;
	margin:0 0;
}

#header{
position: absolute;
  z-index: 15;
  top: 50%;
  left: 40%;
  margin: auto auto;
  color:white;
  font-size:20px;
  font-weight:bold;
  font-family:monospace;
}
#footer{
	position:absolute;
	bottom:0;
	right:0;
	font-family:monospace;
	font-size:15px;
}